
<app-earth-scene></app-earth-scene>



<div class="container">
    <div class="row">
        <div class="col-12 m-0 p-0">
                <div class="content-main">

                    <div class="slogan">
                        <h1>Together we <span>can</span></h1> 
                        <h1>take care of our future</h1>
                
                        <div class="mt-5">
                            <button class="cta-button">How can i help</button>
                        </div>
                    </div>
                    
                    
                    <app-volunteers-section></app-volunteers-section>

                    <app-what-we-do></app-what-we-do>

                    <app-topics></app-topics>
         
                    <app-stories></app-stories>

                    
                </div>
        </div>
    </div>
</div>