.stories-wrapper {
    height: 800px;
    /* margin-top: 20%; */
    width: 100%;
    background: whitesmoke;
    padding: 50px 0 50px 0;
    border-top: 50px solid white;
}

.title {
    line-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-left: 20px;
    color: whitesmoke;
    position: relative;
    padding-top: 350px;

    font-size: calc(30px + 30*(1920px - 320px)/1600);
    line-height: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.bg-title {
    background: url('../../../assets/imgs/stories.jpg'), no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100%;
}
.show-more {
 font-size: 14px;
 font-weight: 200;
 text-decoration: underline;
}