<div class="stories-wrapper d-flex flex-row justify-content-start align-items-start">

<div class="w-25 bg-title">
    <h1 class="title" appParallax [ratio]="0.09">
        Our stories
    </h1>
</div>

<div class="d-flex flex-column justify-content-center align-items-start w-75">

    <div class="card2 ml-2 mr-2 mt-2 bg-white" *ngFor="let s of stories">
        <div class="card-body">
          <h5 class="card-title">{{s.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{s.job}}</h6>
          <p class="card-text">{{s.comment}}</p>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

</div>
</div>
